<div class="choiceForm form-group">
  <div class="input-group">
  <%= text_field_tag "choices[]", "", class: 'form-control' %>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" onclick="removeChoice($(this))">x</button>
  </span>
  </div>
</div>
