<div class="row marketing">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">진행중인 투표</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>제목</th>
        <th>게시된 날짜</th>
        <th>참여인원</th>
      </tr>
      <% @lists.each do |list| %>
          <tr>
            <td><%= list.name %></td>
            <td><%= list.created_at.strftime '%F' %></td>
            <td><%= list.choices.map{|c| c.users.count}.inject(&:+) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>